body{
    height: 3000px;
}
.block-1{
    width: 500px;
    height: 40px;
    background: skyblue;
    top: 0%;
    left: 0%;
    width: 100%;
}
.block-2{
    width: 500px;
    height: 45px;
    background: blue;
    left: 100px;
    top: 50px;
    z-index:101;
}
.block-3{
    width: 500px;
    height: 42px;
    position: sticky;
    background: green;
    top: 0%;
    left: 0%;
    }

