.images{
background: rgb(173, 17, 0);
}
#image2{
    background: black;
}
.but{
    color: #fff;
    background: red;
    border: none;
    padding: 4px 12px;
    border-radius: 4px;
}
.square{
    width: 200px;
    height: 200px;
    background: green;
    padding: 50px;
}
.square2{
    width: 200px;
    height: 100px;
    background: #dd052e;
    margin-bottom: 50px;
}
.square3{
    width: 100px;
    height: 100px;
    background: violet;
    margin-bottom: 50px;
    }
.container{
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
    align-items: center;
}